///======================post category==================================//
.posts {
    padding-bottom: 45px;
    @include mobile {
        padding-bottom: 25px;
    }
    @include tablet {
        margin-top: -55px;
    }
    .post {
        @include clearfix;
        background: white;
        @include tablet {
            /*  float: left;
            width: 100%; */
        }
        @include mobile {
            margin: 15px 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .feature-image,
        .post-content {
            @include tablet {
                float: left;
                min-height: 334px;
                width: 50%;
            }
        }
        .feature-image {
            background: $btn-primary-bg;
            img {
                @include opacity(0.5);
                width: 100%;
            }
        }
        .post-content {
            padding: 32px 110px 32px 32px;
            @include mobile {
                padding: 16px 14px;
            }
            position: relative;
            &:after {
                top: 50%;
                @include transform(translateY(-50%));
                left: -14px;
                @include triangle('left', 14px, white);
                @include tablet {
                    content: "";
                }
                display: block;
                position: absolute;
            }
        }
        &:nth-child(2n+1),
        .odd {
            //old 
            .feature-image {
                @include tablet {
                    float: right;
                }
                background: #304c8d;
                img {
                    @include opacity(0.5);
                }
            }
            .post-content {
                &:after {
                    left: auto;
                    right: -14px;
                    margin-top: -14px;
                    @include transform(rotate(-180deg));
                }
            }
        }
        // ipad portrait
        @include tablet-only {
            .post-content {
                padding: 32px;
            }
            .feature-image {
                position: relative;
                img {
                    display: none;
                }
                .visible-sm-block {
                    @include opacity(0.5);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }
            }
        }
    }
    &.fail {
        .load-more {
            display: none;
        }
    }
    #empty {
        margin-top: 40px;
    }
    .read-more {
        min-width: 235px;
        [class^="icon"] {
            right: 13px;
        }
        @include tablet {
            bottom: 40px;
            left: 32px;
            min-width: 235px;
            position: absolute;
        }
        @include mobile {
            width: 100%;
        }
    }
    .entry-content {
        padding-bottom: 65px;
    }
    .entry-title {
         max-height: 2.3em;
        overflow: hidden;
    }
}

.entry-content,.content-page  {
    a {
        text-decoration: underline;
    }
    .social {
        a {
            text-decoration: none;
        }
    }
}

/* .posts {
    @include tablet {
        .post {
            @include display-flex
        }
        .post:not(.even) {
            -webkit-flex-direction: row-reverse;
            flex-direction: row-reverse;
        }
        .feature-image {
            position: relative;
        }
        .feature-image .visible-sm-block {
            display: block!important;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            @include opacity(0.5);
            width: 100%;
            position: absolute;
        }
        .post .feature-image img {
            display: none;
        }
    }
} code for blog layout equal height*/

.load-more {
    padding-bottom: 45px;
    clear: both;
    @include mobile {
        padding-bottom: 25px;
    }
    .btn {
        min-width: 300px;
        @include mobile {
            width: 100%;
            min-width: auto;
        }
    }
}

.category .main {
    margin-bottom: 48px;
    @include mobile {
        margin-bottom: 25px;
    }
}

.entry-header {
    margin-bottom: 12px;
    .cat-links {
        font-family: $font-heading;
        text-transform: uppercase;
        line-height: 120%;
        a {
            color: $text-color;
        }
    }
    .entry-title {
        font-family: $font-heading;
        margin: 8px 0 20px 0;
        a {
            color: $text-color;
        }
    }
    .posted-on {
        font-family: $font-default-bold;
    }
}

.action-container .select-box {
    margin: 0 auto;
    @include tablet {
        max-width: 340px;
    }
}

.category {
    .hero-banner {
        h2.heading {
            margin-bottom: 34px;
            @include mobile {
                margin-bottom: 27px!important;
            }
        }
        p {
            margin-bottom: 25px;
        }
    }
}

.category-container {
    @include tablet-only {
        width: 100%;
    }
}

.posts .mix {
    display: none;
}

//========single-content=====================//
.single-content {
    padding: 45px 0 60px;
    .entry-title {
        font-size: 40px;
        margin-bottom: 35px;
        @include mobile {
            font-size: 20px;
        }
    }
    .entry-header {
        font-family: $font-default-bold;
        @include tablet {
            font-size: 14px;
        }
    }
    .entry-author {
        margin-left: 14px;
    }
    .entry-date {
        margin-right: 20px;
    }
    .post {
        @media (min-width: 1025px) {
            padding-right: 60px;
        }
    }
    .entry-content {
        font-size: 14px;
        line-height: 18px;
        p {
            margin-bottom: 18px;
        }
        strong {
            font-family: $font-default-bold;
        }
    }
    //footer of post
    footer.entry-meta {
        margin-top: 54px;
        @include mobile {
            margin: 35px 0;
        }
        .col-md-6 .btn {
            min-width: 238px;
        }
    }
    .share-post [class^="icon-"],
    [class*=" icon-"] {
        font-size: 30px;
        margin-left: 32px;
        color: $text-color;
    }
    .share-title.pull-left {
        font-family: $font-default-bold;
        font-size: 13px;
        margin-top: 6px;
        text-transform: uppercase;
    }
    .nav-single + .share-post {
        margin-top: 8px;
    }
    /// sidebar right
    .sidebar {
        margin-top: 8px;
        .widget {
            @media (min-width: 1025px) {
                margin: 0 -6px 0 -24px;
            }
            .panel-body {
                padding: 38px 15px 15px;
                @media (min-width: 1025px) {
                    padding: 38px 21px;
                }
            }
            .btn {
                margin-bottom: 10px;
                width: 100%;
            }
            .nav-previous {
                .btn {
                    margin-bottom: 0;
                }
            }
        }
    }
    .cat-img {
        text-align: center;
        margin: 0 0px 33px 0;
    }
}

@media (max-width: 979px) {
    footer.entry-meta {
        .pull-left,
        .pull-right {
            float: none!important;
        }
        .share-title,
        .addthis_toolbox {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
        }
        .nav-single {
            margin-bottom: 15px;
        }
    }
    .single-content footer.entry-meta {
        margin-top: 40px;
        .hidden-xs {
            display: block!important
        }
    }
}

@media (max-width: 767px) {
    .blog-detail {
        .widget-footer {
            display: none
        }
        .widget_action {
            .panel {
                margin-bottom: 10px;
            }
        }
    }
    .category .main {
        margin-bottom: 10px;
    }
    .posts {
        .entry-content {
            min-height: 0;
        }
        .entry-header {
            margin-bottom: 5px;
            .entry-title {
                margin: 8px 0 10px;
            }
        }
    }
    .feature-image-container {
        .slideshow-image .visible-xs-block,
        .hero-image .visible-xs-block {
            height: 210px;
        }
    }
    .single-content {
        padding: 20px 0 0;
        .entry-title {
            margin-bottom: 15px;
        }
        footer.entry-meta {
            .hidden-xs {
                display: none!important;
            }
        }
        .share-post {
            text-align: center;
            .addthis_toolbox {
                a {
                    padding: 0;
                }
            }
            .share-title {
                margin-left: 0px;
            }
            [class^="icon-"] {
                margin-left: 22px;
            }
        }
    }
}
